{% extends 'main/create-base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <form class="layui-form" method="post" id="window">
        <div class="layui-form-item">
            <label class="layui-form-label" style="font-size: medium" >图书类型：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" style="width:60%" name="Btype" id="Btype">
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}

{% endblock %}
