{% extends "main/base.html" %}
{% block title %}学生还书{% endblock %}

{% block card %}
<div class="layui-card-header"><h2>借书记录查询</h2></div>{% endblock %}
{% block body %}
<form class="layui-form" method="post" id="searchForm">
    <!--{{ form.csrf_token }}-->
    <div class="layui-form-item">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md4" , style="width: 200px;">
                {{ form.method(class="layui-input-inline") }}
            </div>
            <div class="layui-col-md4" , style="width: 200px;">
                {{ form.method2(class="layui-input-inline") }}
            </div>
            <label style="font-size: medium;width: 150px;" class="layui-form-label">搜索内容：</label>
            <div class="layui-input-inline">
                {{ form.content(class="layui-input", id="content") }}
            </div>
            <div class="layui-input-inline">{{ form.submit(class="layui-btn", id="search") }}</div>
        </div>
    </div>
</form>
<div id="remove">
    <table lay-even id="result" lay-filter="re">
        <thead>
        <tr>
            <th lay-data="{field:'query_id', width:160}">借书序号</th>
            <th lay-data="{field:'uid', width:160}">借阅卡号</th>
            <th lay-data="{field:'uname', width:160}">读者姓名</th>
            <th lay-data="{field:'isbn', width:180}">ISBN</th>
            <th lay-data="{field:'barcode', width:160}">图书编号</th>
            <th lay-data="{field:'book_name', width:240}">书名</th>
            <th lay-data="{field:'start_date', width:180}">起始日期</th>
            <th lay-data="{field:'due_date', width:180}">应还日期</th>
            <th lay-data="{field:'return_date', width:180}">还书日期</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<table id="test" lay-filter="test"></table>

{% endblock %}

{% block script %}
<script>
    layui.use(['form', 'table', 'jquery'], function () {
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;

        table.init('re', {
            height: 390
            , limit: 7
            , page: true
        });


        $(document).ready(function () {
            $('#search').on('click', function () {
                var form = new FormData(document.getElementById("searchForm"));
                // if ($('#method').val() === 'student') {
                //     form.append('user_type', 'student');
                // }
                // else{
                //     form.append('user_type', 'faculty');
                // }
                if ($('#content').val() === "" || $('#book_name').val() === "") {
                    layui.use('layer', function () {
                        var layer = layui.layer;

                        layer.msg('请填写查询内容', {time: 800});
                    });
                } else {
                    $.ajax({
                        url: "{{ url_for('main.find_query') }}",
                        type: "post",
                        data: form,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data.length !== 0) {
                                if (data[0].user === 0) {
                                    layui.use('layer', function () {
                                        var layer = layui.layer;

                                        layer.msg('请输入正确卡号！', {time: 1000});
                                    });
                                } else if (data[0].user === 2) {
                                    layui.use('layer', function () {
                                        var layer = layui.layer;

                                        layer.msg('该借阅卡已到期！', {time: 1000});
                                    });
                                } else {
                                    $('#remove').remove();
                                    table.render({
                                        elem: '#test'
                                        , data: data
                                        , cols: [[
                                            {field: 'query_id', title: '借书序号', width: 160}
                                            , {field: 'uid', title: '借阅卡号', width: 160}
                                            , {field: 'uname', title: '读者姓名', width: 160}
                                            , {field: 'isbn', title: 'ISBN', width: 180}
                                            , {field: 'barcode', title: '图书编号', width: 160}
                                            , {field: 'book_name', title: '书名', width: 240}
                                            , {field: 'start_date', title: '起始日期', width: 180}
                                            , {field: 'due_date', title: '应还日期', width: 180}
                                            , {field: 'return_date', title: '归还日期', width: 180}
                                        ]]
                                        , page: true
                                        , height: 380
                                        , limit: 7
                                        , response: {
                                            statusCode: 200
                                        }
                                        , parseData: function (data) {
                                            return {
                                                "code": 200,
                                                "msg": data.message,
                                                "count": data.length,
                                                "data": data
                                            };
                                        }
                                    });
                                }
                            }
                        }
                    });

                }
                return false;
            });
        });
    });
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-sm" lay-event="return">归还</a>
</script>
{% endblock %}

