{% extends 'main/base.html' %}
{% block title %}书籍查询{% endblock %}

{% block card %}
    <div class="layui-card-header">
        <h2>书籍查询</h2>
    </div>

{% endblock %}
{% block body %}
    <div>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="关键字搜索"
                           class="layui-input" id="searchContent">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" lay-event="search">搜索</button>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" lay-event="createType" id="createType">新建图书</button>
            </div>
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">移入历史书库</a>
    </script>
{% endblock %}
{% block script %}
    <script>
        layui.use(['table', 'layer', 'form'], function () {
            var table = layui.table;
            table.render({
                elem: '#test'
                , id: 'listware'
                , url: "{{ url_for('main.select_store') }}"
                , where: {
                    data: "all"
                }
                , toolbar: '#toolbarDemo'
                , title: '书库表'
                , contentType: 'application/json'
                , totalRow: true
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {
                        field: 'Bno',
                        title: '书号',
                        fixed: 'left',
                        unresize: true,
                        sort: true,
                        totalRowText: '合计'
                    }
                    {#Bno = db.Column(db.CHAR(10), primary_key=True)#国际标准书号#}
                    , {field: 'Bname', title: '书名', edit: 'text'}
                    {#Bname = db.Column(db.String(64),nullable=False)#书名#}
                    , {field: 'Bauthor', title: '作者', edit: 'text'}
                    {#Bauthor = db.Column(db.String(64),nullable=False)#作者#}
                    , {field: 'Bbrief', title: '简介', edit: 'text'}
                    {#Bbrief = db.Column(db.String(255))#简介#}
                    , {field: 'Bpress', title: '出版社', edit: 'text'}
                    {#Bpress = db.Column(db.String(64))#出版社#}
                     ,{field: 'Brank', title: '图书级别', edit: 'text'}
                    {#Brank = db.Column(db.BOOLEAN,default=False)#图书级别 true 表示教职工级别 false 表示学生级别#}
                    , {field: 'Btype', title: '图书类别', edit: 'text'}
                    {#Btype = db.Column(db.SMALLINT,db.ForeignKey('BookType.Btid'))#图书类别#}
                    , {field: 'Wno', title: '书库号', edit: 'text'}
                    {#Wno = db.Column(db.CHAR(10),db.ForeignKey('Warehouse.Wno'))#书库号#}
                    , {field: 'Bshelf', title: '货架号', edit: 'text'}
                    {#Bshelf=db.Column(db.CHAR(10),nullable=False)#货架号#}
                    {#, {field: 'Bnumber', title: '馆藏数量', edit: 'text'}#}
                    {#Bshelf=db.Column(db.CHAR(10),nullable=False)#货架号#}
                    , {field: 'Bdate', title: '入库时间'}
                    {#Bdate= db.Column(db.CHAR(16))#入库时间#}
                    , {field: 'Bnote', title: '备注', edit: 'text'}
                    {#Bnote=db.Column(db.String(64))#备注#}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]]
                , page: true //是否显示分页
                , limits: [10, 15, 20]
                , limit: 20 //每页默认显示的数量
            });
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('确定移入历史书库？', function (index) {
                        console.log(obj.data);
                        $.ajax({
                            url: '{{ url_for('main.delete_store') }}',
                            method: 'POST',
                            async: false,
                            data: {"Bno":data.Bno},
                            dataType: 'text',
                            success: function (res) {
                                if (res == 0) {
                                    layer.msg("移入失败，请点击重试")
                                } else if (res == 1) {
                                    layer.msg(obj.data.Bno + "号书籍移入成功!");
                                    layer.close(index);
                                    table.reload("listware", {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        },
                                        where: {
                                            data: $('#searchContent').val()
                                        }
                                    }, 'data');
                                }
                            },
                            error: function (data) {
                            }
                        });

                    });
                }
            });
            //工具栏事件
            table.on('toolbar(test)', function (obj) {
                switch (obj.event) {
                    case 'search':
                        table.reload("listware", {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                data: $('#searchContent').val()
                            }
                        }, 'data');
                        break;
                    case 'createType':
                        window.location.href = "{{ url_for('main.new_store') }}";
                        break;
                }
            })
            ;
            table.on('edit(test)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
                console.log(obj.data); //得到修改后的值
                $.ajax({
                    url: '{{ url_for('main.update_store') }}',
                    method: 'POST',
                    async: false,
                    data: obj.data,
                    dataType: 'text',
                    success: function (res) {
                        if (res == 1) {
                            layer.msg("修改成功！");
                        } else {
                            layer.msg("修改失败！")
                        }

                    }
                });
            });
        })
        ;

    </script>
{% endblock %}